table.nb {
    margin: auto;
    border-collapse: collapse;
    border: 0;
    border-top: 0;
    border-bottom: 0;
    border-spacing: 0;
}

table.nb td {

    border-bottom: 0;

}
.reveal section img { background:none; border:none; box-shadow:none; }

section.white-font h4 {
  color: white;
}
section.white-font h3 {
  color: white;
}
section {
  font-size: 68px;
  font-weight: bold;
  font-family: Tahoma, Helvetica, Arial, "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;
}
a.cr-ref {
  font-size: 12px;
}

section.song {
  font-size: 96px;

}
